
<html>
    <head>
        <link rel="stylesheet" href="/Styles/aboutus.css">
    </head>
<section class="about" id="about">

    <h1 class="heading">ABOUT US</h1>

    <div class="row">

        <div class="image">
            <img src="\Pictures\aboutus.svg" height="700px" width="700px" alt="">
        </div>
        <div class="content">
            <h3>We stand with you in your tough times.</h3>
            <p>In this tough situation amidst the Pandemic, there are people who face different health issues apart from problems related to respiratory situation. 
                Due to the covid outbreak, people fear to visit hospitals for the checkups. There are people suffering from various other chronice disease, 
                pregnant women, patients encountering accidents, panic attacks and many more such complications that require quick attention and assistance.
            </p>
            <p>We here at DocsApp help people from different places to connect and contact with doctors worldwide through video call and text facility.
                Patients suffering a particular issue can describe the issue and can search out for the doctors nearby and get the consultations and required medications.
            </p>
            <div class="btn"> Learn More 
                <i class="fas fa-hand-point-right"></i>
            </div>
        </div>

    </div>

</section>
</html>