
<html>
<section class="blogs" id="blogs">
    <head>
        <link rel="stylesheet" href="/Styles/blog.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <h1 class="heading"> OUR BLOGS </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="/Pictures/pic-1.png" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fa fa-calendar"></i> 26th Nov, 2020 </a>
                    <a href="#"> <i class="fa fa-user"></i> By Aashika </a>
                </div>
                <h3>MYTH BUSTERS ON COVID</h3>
                <p>There are tons of misconceptions brewing on people's mind about Covid. But not everything you see on social media is true...</p>
                <a href="#" class="btn"> learn more <span class="fa fa-chevron-right"></span> </a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/Pictures/pic-2.png" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fa fa-calendar"></i>22nd July, 2020</a>
                    <a href="#"> <i class="fa fa-user"></i> By Vrinda </a>
                </div>
                <h3>SIGNIFICANE OF A HEALTHY DIET IN TEENAGE</h3>
                <p>Teenagers nowadays are more attracted towards junk food. Junk Food which is not good for health leads to ...</p>
                <a href="#" class="btn"> learn more <span class="fa fa-chevron-right"></span> </a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/Pictures/pic-3.png" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <a href="#"> <i class="fa fa-calendar"></i>11th March, 2019</a>
                    <a href="#"> <i class="fa fa-user"></i> By Surya </a>
                </div>
                <h3>IMPORATNCE OF MUSIC IN DEPRESSION DIAGNOSIS</h3>
                <p>Depression no longer remains a very less talked and sidelined issue. It is a serious problem which requires medical...</p>
                <a href="#" class="btn"> learn more <span class="fa fa-chevron-right"></span></a>
            </div>
        </div>
    </div>

</section>
</html>