
<html>
<head>
    <link rel="stylesheet" href="book.css">
</head>
<section class="book" id="book">

    <h1 class="heading"> <span>book</span> now </h1>    

    <div class="row">

        <div class="image">
            <img src="/Pictures/book-img.svg" alt="">
        </div>

        <form action="">
            <h3>BOOK APPOINTMENT</h3>
            <input type="text" placeholder="Your Name" class="box">
            <input type="number" placeholder="Your Age" class="box">
            <input type="email" placeholder="Your Email-Id" class="box">
            <input type="date" class="box">
            <input type="submit" value="book now" class="btn">
        </form>

    </div>

</section>
</html>