<!DOCTYPE html>
<html lang="en">

<body>
    <link rel="stylesheet" href="/Styles/chatbox.css">
    <div class="content">
        <div class="header">
            <h1>
                Global Chat
            </h1>
        </div>
        <div class="msg-area">
            <div class="msg-box oth">
                <div class="msg-oth">Hi, there!</div>
                <div class="seperator"></div>
            </div>
            <div class="msg-box slf">
                <div class="msg-slf">Hi, Hey</div>
                <div class="seperator"></div>
            </div>
        </div>
        <div class="tpg-area">
            <!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
            <textarea name="tpg-box" class="tpg-box" cols="2" rows="3">
            </textarea>
            <button class="snd-btn">Send</button>
        </div>
    </div>
</body>

</html>