<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link rel="stylesheet" href="/Styles/chatscreen.css">
</head>

<body>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you? </div>
        <div class="separator"></div>
    </div>

    <div class="message-box my-message-box">
        <div class="message my-message"> I am good, how are you doing? </div>
        <div class="separator"></div>
    </div>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you? </div>
        <div class="separator"></div>
    </div>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you? </div>
        <div class="separator"></div>
    </div>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you?</div>
        <div class="separator"></div>
    </div>
    <div class="message-box my-message-box">
        <div class="message my-message"> I am good, how are you doing? </div>
        <div class="separator"></div>
    </div>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you? </div>
        <div class="separator"></div>
    </div>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you? </div>
        <div class="separator"></div>
    </div>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you?</div>
        <div class="separator"></div>
    </div>
    <div class="message-box my-message-box">
        <div class="message my-message"> I am good, how are you doing? </div>
        <div class="separator"></div>
    </div>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you? </div>
        <div class="separator"></div>
    </div>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you? </div>
        <div class="separator"></div>
    </div>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you?</div>
        <div class="separator"></div>
    </div>
    <div class="message-box my-message-box">
        <div class="message my-message"> I am good, how are you doing? </div>
        <div class="separator"></div>
    </div>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you? </div>
        <div class="separator"></div>
    </div>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you? </div>
        <div class="separator"></div>
    </div>
    <div class="message-box others-message-box">
        <div class="message others-message"> Hi, How are you?</div>
        <div class="separator"></div>
    </div>
    </div>

    <div class="typing-area">
        <textarea class="typing-box" id="typing-box" rows="1" placeholder="Message"></textarea>
        <i class="fa fa-send-o send-button" onclick="sendMessage()" style="font-size:24px"></i>
    </div>
    </div>
    <script>
        function sendMessage() {
            var message = document.getElementById("typing-box").value;
            var html = '<div class="message-box my-message-box">' +
                '<div class="message my-message"> ' + message + ' </div>' +
                '<div class="separator"></div>' +
                '</div>';

            document.getElementById("message-area").innerHTML += html;
            document.getElementById("typing-box").value = "";
        }
    </script>
    <script src="/app.js"></script>
</body>

</html>