
<!-- <html>
    <head>
        <link rel="stylesheet" href="/Styles/reviews.css">
    </head>
<section class="review" id="review">
    
    <h1 class="heading"> client's <span>review</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="/Pictures/pic-2.png" alt="">
            <h3>Shruti Rathore</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">DocsApp is a website that have helped immensely during the lockdown. My grandfather were suffering from severe stomach ache and booked an appointment through DocsApp and took doctor's assistance and followed proper medication and was alright in 4 days. Thanks to DocsApp</p>
        </div>

        <div class="box">
            <img src="/Pictures/pic-1.png" alt="">
            <h3>john deo</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sapiente nihil aperiam? Repellat sequi nisi aliquid perspiciatis libero nobis rem numquam nesciunt alias sapiente minus voluptatem, reiciendis consequuntur optio dolorem!</p>
        </div>

        <div class="box">
            <img src="/Pictures/pic-3.png" alt="">
            <h3>john deo</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sapiente nihil aperiam? Repellat sequi nisi aliquid perspiciatis libero nobis rem numquam nesciunt alias sapiente minus voluptatem, reiciendis consequuntur optio dolorem!</p>
        </div>

    </div>

</section>
</html> -->
<html>
    <head>
        <!-- aos css file cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <!-- magnific popup css cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <!-- bootstrap cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/Styles/home.css">
    </head>
    <body>
    <section class="review" id="review">
        
    <div class="container">
    
        <h1 class="heading"><span>'</span> people's review <span>'</span></h1>
    
    <div class="box-container">
    
        <div class="box" data-aos="fade-right">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur accusantium error numquam dolore atque. Atque totam ad sint ducimus! Maxime!</p>
            <h3>someone's name</h3>
            <span>jan 5, 2021</span>
            <img src="/Pictures/pic-1.png" alt="">
        </div>
    
        <div class="box" data-aos="fade-up">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur accusantium error numquam dolore atque. Atque totam ad sint ducimus! Maxime!</p>
            <h3>someone's name</h3>
            <span>jan 7, 2021</span>
            <img src="/Pictures/pic-2.png" alt="">
        </div>
    
        <div class="box" data-aos="fade-left">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur accusantium error numquam dolore atque. Atque totam ad sint ducimus! Maxime!</p>
            <h3>someone's name</h3>
            <span>jan 10, 2021</span>
            <img src="/Pictures/pic-3.png" alt="">
        </div>
    
    </div>
    </div>
    </section>
</body>
</html>