<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocsApp</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <script src="/app.js"></script>
    <link rel="stylesheet" href="/Styles/patient.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Styles/chatscreen.css">
</head>

<body ng-app="patient" class="main">
    <div class="frm" style="display: none;">
        <iframe src="chatscreen.html" frameborder="0" width="100%" height="100%" scrolling="no" name="chatfrm"
            id="chatfrm"></iframe>
    </div>

    <div ng-controller="patientController" id="details">
        <input type="text" ng-model="search">
        <ul>
            <li ng-repeat="doc in doctor | orderBy: 'name' | filter: search">
                <img ng-src="{{doc.thumb}}" width="150px" height="150px" style="border-radius: 50%;">

                <div class="info">
                    <div class="nm">{{doc.name}}</div>
                    <div class="degree"></div>
                    <div class="spec">{{doc.spec}}</div>
                </div>
                <div class="btns">
                    <button class="book"><a href="booking.html">Book an appointment</a></button>
                    <button class="chat"><a href="chatscreen.html" target="chatfrm">Chat</a></button>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>