.main{
    position: relative;
}
#details li{
    width: 60%;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #eeedef27;
    margin: 13px auto;
    padding: 7px;
    list-style-type: none;
    position: relative;
    transition: transform 0.5s;
    box-shadow: 0px 0px 8px black;
}
#details li:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 12px black;
}
.info{
    position: absolute;
    left: 180px;
    top: 10px;
}
.buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.chat{
    font-size: 14px;
    background-color: #1c915a;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}
.accept{
    font-size: 14px;
    background-color:blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

.deny{
    font-size: 14px;
    background-color:red;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
.nm{
    font-size: large;
    font-weight: 600;
}
#details a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
#details a:active{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
#details a:visited{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.frm{
    width: 40%;
    height: 700px;
    position: fixed;
    top: 80px;
    right: 0px;
    z-index: 999;
    animation: creep-in 800ms cubic-bezier(.23,.9,.56,1.38);
}
@keyframes creep-in {
    0%{
        transform: translate(100%);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }    
}
.blur   {
    transition: all 900ms;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
header{
    overflow: hidden;
    height: 80px;
    width: 100%;
    position: fixed;
    color: black;
    background-color: #ffffff;
    /* background-color: #1c915a; */
    /* background-color: #eeedef27; */
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    /* padding: 20px; */
    display: inline;
    z-index: 10000;
}
header img{
    margin: 20px 20px;
    /* z-index: 999; */
}
.input-field{
    width: 1000%;
    height: 50px;
    position: absolute;
    display: inline;
    /* background-color: #f0f0f0; */
    top: 20px;
    border-radius: 55px; 
    /* display: grid; */
}
.input-field input{
    width: 500px;
    border-radius: 20px;
    background: none;
    /* outline: none; */
    background-color: #f0f0f0;
    padding: 0 10px;
    /* border: none;  */
    /* line-height: 1; */
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
    height: 40px;
}
#details{
    position: absolute;
    width: 100%;
    top: 80px;
    /* margin-top: 80px; */
}
/* .btn{
    position: static;
} */
/* header{ */
    /* padding:2rem 9%; */
    /* width: 100%; */
    /* height: 60px;
    padding: 30px 0 20px 170px;
    margin: 0;
    position: sticky;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

header .navbar a{
    font-size: 1.7rem;
    color: black;
    margin-left: 2rem;
}
.navbar{
    margin: left 10px;
}

header .navbar a:hover{
    color: rgb(105, 105, 189);
}
header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

header .logo i{
    color: var(--green);
}

.input-field input{
    background: none;
    outline: none;
    border: none; 
    line-height: 1;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
    
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 40px 0;
    border-radius: 55px;
    display: grid;
    /* grid-template-columns: 15% 85% ; */
    /* padding-left: 200px; */
    /* position: relative; */
/* }  */