.main{
    position: relative;
}
li{
    width: 60%;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #eeedef;
    margin: 5px auto;
    padding: 7px;
    list-style-type: none;
    position: relative;
}
.info{
    position: absolute;
    left: 180px;
    top: 10px;
}
.btns{
    position: absolute;
    bottom: 10px;
    right: 10px;
    
}
.chat{
    background-color: #1c915a;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}
.book{
    background-color: #2b70cf;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}
.nm{
    font-size: large;
    font-weight: 600;
}
a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
a:active{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
a:visited{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.frm{
    width: 40%;
    height: 100%;
    position: fixed;
    right: 0px;
    z-index: 999;
}
.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
/* #overlay    {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,.8);
    z-index: 999;
} */